<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de Cidade</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Cidade
				</h1>
			</div>
		</div>

		<div class="container-fluid">
		
			<form method="POST" class="form-vertical  js-form-loading">
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="estado">Estado</label>
						<select id="estado" class="form-control">
							<option value="">Selecione o Estado</option>
						</select>
					</div>
					<div class="col-sm-8 form-group">
						<label for="nomeCidade">Nome</label>
						<input id="nomeCidade" type="text" class="form-control" />
					</div>
				</div>
				
				<input type="submit" value="Salvar" class="btn btn-primary" />
			
			</form>
		</div>
	</section>

</body>
</html>